<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/Main1.css?v=<%= Date.now() %>">

</head>
<body>

<!-- Dashboard navigation -->
<nav class="dashboard-nav"> 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Login">Login</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#contact">Learn More</a></li>
    </ul>
</nav>

<!-- Main content area -->
<div class="image-container">
    <img src="https://i.imgur.com/k5A84EI.gif" alt="Main Image" class="full-width-image" />
    <div class="overlay-text">
        Welcome to GenX AI
        <div class="small-text">An application for finding out Phenotypes from Genotypes.</div>
        <div> <button class="Start"> Get Started </button> </div>
        </div>
</div>
<!-- Tab stuff for AI model -->

<div class="Tab-Navigation">
    <div class="Nav" onclick="openInput('textSection')">Text</div>
    <div class="Nav" onclick="openInput('fileSection')">File</div>
</div>

<div>
    <div id="textSection" class="Input">
        <div class="Tab-Navigation">
        </div>
        <textarea placeholder="Type something..."></textarea>
    </div>

    <div id="fileSection" class="Input">
        <div class="Tab-Navigation">
        </div>
        <input type="file" id="fileInput">
    </div>

    <script>
        function openInput(sectionId) {
            document.getElementById('textSection').style.display = 'none';
            document.getElementById('fileSection').style.display = 'none';
    
            document.getElementById(sectionId).style.display = 'block';
        }
        openInput('textSection');
    </script>
</div>

</div>

<!-- Footer -->
<footer>
    <p>&copy; 2024 GENX AI</p>
</footer>

</body>
</html>